@import './variables';

.contact {
    display: flex;

    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin-top: 16px;

    &__header {
        color: $blue;
        margin-top: 16px;
        max-width: 271px;
        text-align: center;
        font-weight: 700;
        font-size: 48px;
        line-height: 72px;
        padding-top: 10px;
        
    }
    &__option {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 370px;
        max-height: 64px;
        margin-top: 20px;
        border-radius: 40px;
        text-align: center;
        background-color: $blue;
    }
    &__footer {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 148px;
        max-height: 64px;
        margin-top: 20px;
        border-radius: 40px;
        background-color: $blue;
    }
}