@import './_variables.scss';

.firstrow {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    flex-direction: column;
    background-image: linear-gradient(
        to right,
        $white 0%,
        $white 50%,
        $blue 50% ,
        $blue 50%       
    );
    
    &__box {
        border: 4px solid $white;
        border-radius: 40px;
        max-width: 1199px;
        //width: 70%;
        max-height: 509px;
        margin-bottom: 20px;
        margin-left: 20%;
        margin-right: 20%;
        display: flex;
        // justify-content: flex-start;
        margin-top: 10px;
        background-color: $blue;

    }

    #extra {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    &__text{
        flex-direction: column;
       // max-width: 50%;
        padding-top: 30px;
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 20px;

        
        
        &--header {
            color: $white;
            max-width: 518px;
            text-align: left;
            font-weight: 700;
            font-size: 48px;
            line-height: 72px;
        }

        &--description {
            color : $text-color;
           // align-self: flex-start;
            margin-top: 12px;
            max-width: 520px;
            text-align: left;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
        }

    }

    &__option {
        margin-top: 20px;
        display: flex;
        align-self: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        //max-width: 50%;
        padding-right: 20px;

        &--description{
            color: $white;
            max-width: 518px;
            text-align: left;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
        }

        &--img {
            max-width: 18px;
            max-height: 18px;
            margin-right: 5px;
        }
    }
    
}