@import './_variables.scss';

.head {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 840px;
    flex-direction: column;
    
    background-image : url(../images/header_background.png);

    

}