@import './variables';
.services {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    //margin-top: 10px;
    background-color: $blue;
    //background-image: url(../dist/images/MaskGroup.png);
    &__header{
        color: $white;
        margin-top: 16px;
        max-width: 210px;
        text-align: center;
        font-weight: 700;
        font-size: 48px;
        line-height: 72px;
        padding-top: 10px;
    }

    &__imgbox {
        margin: 10px;
        margin: 20px;
        flex-wrap: wrap;
        border: 3px;
        border-color: $white;
        &--img {
           
            
            max-width: 180px;
            max-height: 180px;
            align-items: center;
        }
    }
}