@import './variables';
.services {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    background-color: $blue;
    &__header{
        color: $white;
        margin-top: 16px;
        max-width: 210px;
        text-align: center;
        font-weight: 700;
        font-size: 48px;
        line-height: 72px;
        padding-top: 10px;
    }

    &__imgbox {
        
        display: flex;
        justify-content: center;
        margin: 10px;
        margin: 20px;
        flex-wrap: wrap;
        flex-direction: row;
        
        
       
        &--imgborder{
           display: inline-block;
           transform: rotate(45deg);
            border: 3px solid $white;
            padding: 25px;
            border-radius: 30px;
            margin: 30px;
            
        }
        &--img {
            display: inline-block;
            transform: rotate(315deg);
            max-width: 180px;
            max-height: 180px;
            align-items: center;
        }
    }
}