@import 'variables';
.head{
    text-align: center;
    padding-top: 40vh;
    background: url('../images/header_background.png');
    background-size: cover;
    align-items: center;
    display: flex;
    text-align: center;

    &__header {
        width: 21%;
        height: 10%;
        flex-direction: row;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 40rem;
        margin-right: 40rem;
        &--text {
            width: 17%;
            height: 9%;
            font-weight: 700;
            font-size: 32px;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
        }
        &--img {

        }
    }

    &__options{
        display: flex;
        flex-direction: row;
        font-size: 14px;
        // height: 16%;
        // width: 29%;
        height: 136px;
        width: 566px;
        font-size: 14px;
        font-weight: 700;
        color: $text-color;
        background-color:blue;
        &--box {
            background-color: black;
            flex-direction: column;
        }
    }
    
    &__text {
        color: $text-color;
        float: left;
        &--question{
            
            font-size: 48px;
            margin-top: 1rem;
            margin-bottom: 0.25rem;
            margin-left: 12rem;
            margin-right: 12rem;
            font-weight: 800;
        }
        &--description{
            font-size: 14px;
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-left: 40rem;
            margin-right: 40rem;
            font-weight: 600;
        }
        &--button{
            border-radius: 0.5rem;
            margin-top: 2rem;
            margin-bottom: 5rem;
            margin-left: 12rem;
            margin-right: 12rem;
            font-size: 18px;
            width: 8%;
            height: 5%;
            text-align: center;
            padding-top: 1.6%;
            padding-bottom: 1.6%;
            padding-left: 1.6%;
            padding-right: 1.6%;
            background-color: $blue;
            font-weight: 700;
        }
        
    }
}